#haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
out/
# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# netbeans
nbactions.xml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
=======
*.class
*.log
.cache
# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
/lib

# repo files
repo/antlr/
repo/aopalliance/
repo/asm/
repo/avalon-framework/
repo/backport-util-concurrent/
repo/classworlds/
repo/com/
repo/commons-beanutils/
repo/commons-chain/
repo/commons-cli/
repo/commons-codec/
repo/commons-collections/
repo/commons-digester/
repo/commons-io/
repo/commons-lang/
repo/commons-logging/
repo/commons-validator/
repo/dom4j/
repo/javax/
repo/jdom/
repo/jtidy/
repo/junit/
repo/log4j/
repo/logkit/
repo/org/
repo/oro/
repo/plexus/
repo/sslext/
repo/xerces/
repo/xml-apis/
repo/xmlpull/
repo/xpp3/


